@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@500&display=swap');

.backpopup{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .popupForm{
        width: 60%;
        height: 60%;
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .group-form{
            width: 100%;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            padding-top: 5rem;
        }
        .input-group{
            padding: 20px;

            .form-control{
                background-color: #47597E;
                color: #EDEDED;
            }
            .form-control::placeholder{
                color: #EDEDED;
            }
        }
        .cross{
            position: absolute;
            top: 10rem ;
            right: 10rem;
            cursor: pointer;
            transform: scale(2);
            &:hover{
                color: rgb(255, 0, 0);
            }
        }
        .submitBtn{
            width: 10rem;
            height: 3rem;
            background-color: rgb(233, 88, 4);
            border-radius: 5px;
            color: honeydew;
            font-family: 'Roboto' sans-serif;
        }
    }
}