
.homePage{
    // background: linear-gradient(to right,  #bdc3c7, #2c3e50);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    // padding: 200px 180px;
    


    
}